{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": ["react", "react-native"],
  "settings": {
    "react": {
      "version": "16.6"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-native/all"
  ],
  "rules": {
    "react/prop-types": 0,
    "react-native/no-inline-styles": 1
  }
}
